
.default-marker {
	display: block;
  opacity: 0.7;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: 0 0 0px 4px black;
  background-color: black;
}

.yellow-pin {
  background: black no-repeat url("./pin-yellow.png");
  display: block;
}

.pin {
  width: 11px;
  height: 11px;
  border-radius: 50%;
}

.green {box-shadow: 0 0 0px 2px #df0;}
.pink {box-shadow: 0 0 0px 2px rgb(255, 0, 221);}
.blue {box-shadow: 0 0 0px 2px rgb(0, 26, 255);}