
body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.leaflet-bar a{
  width: 26px;
  height: 26px;
  background-color: #424347; 
  box-sizing: border-box;
  color: white;
  border-color: rgba(0,0,0,0.5);
  display: block;
}

.leaflet-bar a:hover{
  background-color: #69717d;
  border: 1px solid #69717d;
}

.leaflet-bar a.leaflet-disabled {
  background-color: #424347;
}

.bottom-left {
  bottom: 0;
  position: absolute;
  z-index: 1000;
}

.legend-title {
  font-weight: bold;
}

.legend-radiobuttons, .legend-dropdown {
  pointer-events: auto;
}

.legend ul {
  padding: 0;
  margin: 0;
}

.legend-popdensity-title {
  font-size: 11px;
}

.legend ul {
  list-style: none;
}

.legend li {
  width: 13.5%;
  float: left;
}

.legend .legend-popdensity-color {
  width: 100%;
  height: 10px;
  display: inline-block;
}

.legend .legend-popdensity-inhabitants {
  text-align: center;
  font-size: 11px;
  color: #989ba0;
}

.legend {
  pointer-events: none;
  font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #fff;
  margin: 10px;
  background: #424347;
  bottom: 50px;
  width: 400px;
  border-radius: 4px;
  position: absolute;
  z-index: 9999;
  padding: 10px 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.25);
  box-sizing: border-box;
}

.legend-dropdown {display: none;}

@media (max-width: 440px) {
  .legend {width: 300px;}
  .legend-radiobuttons {display: none;}
  .legend-dropdown {display: inline-block !important;}
}

.black-marker {
	display: block;
  opacity: 0.7;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  box-shadow: 0 0 0px 4px black;
  background-color: black;
}

.average-marker {
  display: block;
  position: relative;
  width: 11px;
  height: 11px;
  background: black no-repeat url("./pin-yellow.png");
  box-shadow: 0 0 0px 2px #df0;
  border-radius: 50%;
}

.mapboxgl-ctrl-logo{
  display: none !important;
}

.yellow-pin-desc {
  border-radius: 50%;
  box-shadow: 0 0 0px 2px #df0;
  width: 11px;
  height: 11px;
}